<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="X-UA-Compatible" content="IE=8">
<title><%= title(@title) %></title>
<STYLE type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 71px 0px 28px 71px;padding: 0px;border: none;width: 745px;}
#page_1 #id_1 {border:none;margin: 0px 0px 0px 1px;padding: 0px;border:none;width: 744px;overflow: hidden;}
#page_1 #id_2 {border:none;margin: 14px 0px 0px 1px;padding: 0px;border:none;width: 672px;overflow: hidden;}
#page_1 #id_2 #id_2_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 320px;overflow: hidden;}
#page_1 #id_2 #id_2_2 {float:left;border:none;margin: 5px 0px 0px 32px;padding: 0px;border:none;width: 320px;overflow: hidden;}
#page_1 #id_3 {border:none;margin: 340px 0px 0px 1px;padding: 0px;border:none;width: 711px;overflow: hidden;}

#page_1 #dimg1 {position:absolute;top:230px;left:0px;z-index:-1;width:673px;height:233px;}
#page_1 #dimg1 #img1 {width:673px;height:233px;}




.ft0{font: 13px 'Arial';line-height: 15px;}
.ft1{font: bold 13px 'Arial';line-height: 15px;}
.ft2{font: 1px 'Arial';line-height: 1px;}
.ft3{font: bold 13px 'Arial';line-height: 16px;}
.ft4{font: bold 16px 'Arial';line-height: 19px;}
.ft5{font: bold 24px 'Arial';line-height: 26px;}
.ft6{font: bold 24px 'Arial';line-height: 29px;}
.ft7{font: 13px 'Arial';line-height: 16px;}
.ft8{font: bold 13px 'Arial';margin-left: 7px;line-height: 15px;}
.ft9{font: 13px 'Arial';margin-left: 7px;line-height: 16px;}
.ft10{font: 13px 'Wingdings';line-height: 13px;}

.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p1{text-align: right;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p2{text-align: left;padding-left: 36px;margin-top: 14px;margin-bottom: 0px;}
.p3{text-align: left;padding-left: 123px;margin-top: 6px;margin-bottom: 0px;}
.p4{text-align: left;padding-left: 213px;margin-top: 3px;margin-bottom: 0px;}
.p5{text-align: left;margin-top: 11px;margin-bottom: 0px;}
.p6{text-align: left;padding-left: 20px;margin-top: 13px;margin-bottom: 0px;}
.p7{text-align: left;padding-left: 300px;margin-top: 14px;margin-bottom: 0px;}
.p8{text-align: left;padding-left: 4px;margin-top: 18px;margin-bottom: 0px;}
.p9{text-align: left;padding-left: 74px;margin-top: 41px;margin-bottom: 0px;}
.p10{text-align: left;padding-left: 4px;margin-top: 140px;margin-bottom: 0px;}
.p11{text-align: justify;padding-left: 20px;margin-top: 0px;margin-bottom: 0px;text-indent: -20px;}

.td0{padding: 0px;margin: 0px;width: 438px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 227px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 254px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 347px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 98px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 12px;vertical-align: bottom;}

.tr0{height: 16px;}
.tr1{height: 18px;}
.tr2{height: 19px;}

.t0{width: 665px;font: 13px 'Arial';}
.t1{width: 711px;font: bold 13px 'Arial';}

</STYLE>
</HEAD>

<BODY>
<DIV id="page_1">
<DIV id="dimg1">
<IMG src="CG2028_images/CG20281x1.jpg" id="img1">
</DIV>


<DIV id="id_1">
<TABLE cellpadding=0 cellspacing=0 class="t0">
<TR>
	<TD class="tr0 td0"><P class="p0 ft0">POLICY NUMBER: <NOBR><%= @policy.policy_number %></NOBR></P></TD>
	<TD class="tr0 td1"><P class="p1 ft1">COMMERCIAL GENERAL LIABILITY</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"><P class="p0 ft2">&nbsp;</P></TD>
	<TD class="tr1 td1"><P class="p1 ft3">CG 20 28 07 04</P></TD>
</TR>
</TABLE>
<P class="p2 ft4">THIS ENDORSEMENT CHANGES THE POLICY. PLEASE READ IT CAREFULLY.</P>
<P class="p3 ft5">ADDITIONAL INSURED – LESSOR OF</P>
<P class="p4 ft6">LEASED EQUIPMENT</P>
<P class="p5 ft7">This endorsement modifies insurance provided under the following:</P>
<P class="p6 ft7">COMMERCIAL GENERAL LIABILITY COVERAGE PART</P>
<P class="p7 ft3">SCHEDULE</P>
<P class="p8 ft3">Name Of Additional Insured Person(s) Or Organization(s)</P>
<P class="p9 ft3"><%= @doc.var_2 %></P>
<P class="p10 ft7">Information required to complete this Schedule, if not shown above, will be shown in the Declarations.</P>
</DIV>
<DIV id="id_2">
<DIV id="id_2_1">
<P class="p11 ft1"><SPAN class="ft1">A.</SPAN><SPAN class="ft8">Section II – Who Is An Insured </SPAN><SPAN class="ft0">is amended to include as an additional insured the person(s) or organization(s) shown in the Schedule, but only with respect to liability for "bodily injury", "property damage" or "personal and advertising injury" caused, in whole or in part, by your maintenance, operation or use of equipment leased to you by such person(s) or organization(s).</SPAN></P>
</DIV>
<DIV id="id_2_2">
<P class="p11 ft7"><SPAN class="ft3">B.</SPAN><SPAN class="ft9">With respect to the insurance afforded to these additional insureds, this insurance does not apply to any "occurrence" which takes place after the equipment lease expires.</SPAN></P>
</DIV>
</DIV>
<DIV id="id_3">
<TABLE cellpadding=0 cellspacing=0 class="t1">
<TR>
	<TD class="tr2 td2"><P class="p0 ft3">CG 20 28 07 04</P></TD>
	<TD class="tr2 td3"><P class="p0 ft7">© ISO Properties, Inc., 2004</P></TD>
	<TD class="tr2 td4"><P class="p0 ft3">Page 1 of 1</P></TD>
	<TD class="tr2 td5"><P class="p0 ft10"></P></TD>
</TR>
</TABLE>
</DIV>
</DIV>
</BODY>
</HTML>
