<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="X-UA-Compatible" content="IE=8">
<title><%= title(@title) %></title>
<STYLE type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 72px 0px 27px 72px;padding: 0px;border: none;width: 744px;}





.ft0{font: 13px 'Arial';line-height: 16px;}
.ft1{font: bold 13px 'Arial';line-height: 16px;}
.ft2{font: bold 16px 'Arial';line-height: 19px;}
.ft3{font: bold 24px 'Arial';line-height: 26px;}
.ft4{font: bold 24px 'Arial';line-height: 29px;}
.ft5{font: bold 13px 'Arial';line-height: 15px;}
.ft6{font: 13px 'Arial';margin-left: 8px;line-height: 16px;}
.ft7{font: 13px 'Wingdings';line-height: 13px;}

.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p1{text-align: left;padding-left: 36px;margin-top: 28px;margin-bottom: 0px;}
.p2{text-align: left;padding-left: 195px;margin-top: 8px;margin-bottom: 0px;}
.p3{text-align: left;padding-left: 100px;margin-top: 3px;margin-bottom: 0px;}
.p4{text-align: left;margin-top: 12px;margin-bottom: 0px;}
.p5{text-align: left;padding-left: 20px;margin-top: 13px;margin-bottom: 0px;}
.p6{text-align: left;padding-left: 300px;margin-top: 14px;margin-bottom: 0px;}
.p7{text-align: right;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p8{text-align: left;padding-right: 72px;margin-top: 59px;margin-bottom: 0px;}
.p9{text-align: justify;padding-left: 20px;padding-right: 72px;margin-top: 18px;margin-bottom: 0px;text-indent: -19px;}
.p10{text-align: justify;padding-left: 20px;padding-right: 72px;margin-top: 1px;margin-bottom: 0px;text-indent: -19px;}

.td0{padding: 0px;margin: 0px;width: 438px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 227px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 222px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 37px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 191px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 410px;vertical-align: bottom;}
.td6{padding: 0px;margin: 0px;width: 98px;vertical-align: bottom;}
.td7{padding: 0px;margin: 0px;width: 12px;vertical-align: bottom;}

.tr0{height: 18px;}
.tr1{height: 16px;}
.tr2{height: 44px;}
.tr3{height: 19px;}

.t0{width: 665px;font: 13px 'Arial';}
.t1{width: 259px;margin-top: 11px;font: bold 13px 'Arial';}
.t2{width: 711px;margin-top: 459px;font: bold 13px 'Arial';}

</STYLE>
</HEAD>

<BODY>
<DIV id="page_1">


<TABLE cellpadding=0 cellspacing=0 class="t0">
<TR>
	<TD class="tr0 td0"><P class="p0 ft0">POLICY NUMBER: <NOBR><%= @policy.policy_number %></NOBR></P></TD>
	<TD class="tr0 td1"><P class="p0 ft1">COMMERCIAL GENERAL LIABILITY</P></TD>
</TR>
</TABLE>
<P class="p1 ft2">THIS ENDORSEMENT CHANGES THE POLICY. PLEASE READ IT CAREFULLY.</P>
<P class="p2 ft3">ADDITIONAL INSURED –</P>
<P class="p3 ft4">MORTGAGEE, ASSIGNEE, OR RECEIVER</P>
<P class="p4 ft0">This endorsement modifies insurance provided under the following:</P>
<P class="p5 ft0">COMMERCIAL GENERAL LIABILITY COVERAGE PART</P>
<P class="p6 ft1">SCHEDULE</P>
<TABLE cellpadding=0 cellspacing=0 class="t1">
<TR>
	<TD class="tr1 td2"><P class="p0 ft5">Name of Person or Organization:</P></TD>
	<TD class="tr1 td3"><P class="p7 ft5"><%= @doc.var_2 %></P></TD>
</TR>
<TR>
	<TD class="tr2 td2"><P class="p0 ft1">Designation of Premises:</P></TD>
	<TD class="tr2 td3"><P class="p7 ft1"><%= @doc.var_3 %></P></TD>
</TR>
</TABLE>
<P class="p8 ft0">(If no entry appears above, information required to complete this endorsement will be shown in the Declarations as applicable to this endorsement.)</P>
<P class="p9 ft0"><SPAN class="ft1">1.</SPAN><SPAN class="ft6">WHO IS AN INSURED (Section Il) is amended to include as an insured the person(s) or organization(s) shown in the Schedule but only with respect to their liability as mortgagee, assignee, or receiver and arising out of the ownership, maintenance, or use of the premises by you and shown in the Schedule.</SPAN></P>
<P class="p10 ft0"><SPAN class="ft1">2.</SPAN><SPAN class="ft6">This insurance does not apply to structural alterations, new construction and demolition operations performed by or for that person or organization.</SPAN></P>
<TABLE cellpadding=0 cellspacing=0 class="t2">
<TR>
	<TD class="tr3 td4"><P class="p0 ft1">CG 20 18 11 85</P></TD>
	<TD class="tr3 td5"><P class="p0 ft0">Copyright, Insurance Services Office, Inc., 1984</P></TD>
	<TD class="tr3 td6"><P class="p0 ft1">Page 1 of 1</P></TD>
	<TD class="tr3 td7"><P class="p0 ft7"></P></TD>
</TR>
</TABLE>
</DIV>
</BODY>
</HTML>
