<!DOCTYPE html>
<html>
<head>
  <title><%= "Policy_"+@policy.policy_number%></title>
</head>
<body>
  <%= render partial: 'html_forms/mandatory_IL_Forms.html' %>
  <%= render partial: 'html_forms/mandatory_Property_Forms.html' %>
</body>
</html>
